langchain-openai
python-dotenv
pinecone
boto3
streamlit
langchain-core
langchain
spacy
pandas
langchain_community
en_core_web_sm @ https://huggingface.co/spacy/en_core_web_sm/resolve/main/en_core_web_sm-any-py3-none-any.whl
pymupdf
sentence-transformers
flashrank